@import "global/fonts.scss";
@import "blocks/header.scss";
@import "blocks/top.scss";

body,
header,
main,
footer,
p {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
}
body {
  min-width: 320px;
}
